__pycache__/
*.pyc
*.pyo
*.log
*.sqlite3
*.db
*.h5
*.pth
*.pt
.DS_Store

.git
.gitignore

.venv/
env/
venv/

node_modules/
.next/
dist/

CapturedImages/
CalibrationImages/
UndistortedImages/
outputs/
